.Container{
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SignIn{
    color: #5eaaa8;
}
.BoxContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ChooseBox{
    margin: 20px 0.3rem;
    padding: 5px;
    min-width: 100px;
    max-width: 300px;
    min-height: 80px;
    max-height: 300px;
    background: #6ddccf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.ChooseIcon{
    color: white;
    font-size: calc(40px + 5vw);
}
input[type="radio"]{
    display: none;
}
input[type=radio] + label {
  color: #333;
  width: 100%;
  height: 100%;
}
input[type=radio] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
label span {
  background-color: #5bb4a9;
}
label span {
  background-color: #5bb4a9;
}
input[type=radio] + label span *{
    opacity: 0;
}
input[type=radio]:checked + label span *{
    opacity: 1;
    transition: all 0.3s ease;
    color: white;
    font-size: 12px;
    margin-bottom: 3px;
}
form div{
    display: flex;
    flex-direction: row;
}
.FormInput{
    border: 2px solid rgba(39, 102, 120, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 2px 5px;
    max-width: 300px;
}
.FormIcon{
    font-size: 20px;
    color: #276678;
    opacity: 0.2;
    margin-top: 3px;
}
.FormInp{
    border: none;
    opacity: 0.7;
    padding: 5px;
}
.SubmitCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SigninBtn{
    background-color: #5eaaa8;    
    border: none;
    outline: none;
    color: white;
    padding: 7px;
    margin: 5px;
    border-radius: 8px;
    width: 100px;
}